<div>
    <label for="date">Дата</label>
    <input id="date" [(ngModel)]="bankrollItem.dateTime"/>
    <label for="money">$</label>
    <input id="money" [(ngModel)]="bankrollItem.money"/>
    <label for="points">MPP</label>
    <input id="points" [(ngModel)]="bankrollItem.points" />
    <label for="type">Тип записи</label>
    <input id="type" [(ngModel)]="bankrollItem.type"/>
    <label for="comment">Комментарий</label>
    <input id="comment" [(ngModel)]="bankrollItem.comment"/>
    <button (click)="add()">Add</button>
</div>
