<div>
  <input id="date" [matDatepicker]="itemDate" [(ngModel)]="bankrollItem.dateTime"/>
  <mat-datepicker-toggle matSuffix [for]="itemDate"></mat-datepicker-toggle>
  <mat-datepicker #itemDate></mat-datepicker>
  <label for="money">$</label>
  <input id="money" [(ngModel)]="bankrollItem.money"/>
  <label for="points">MPP</label>
  <input id="points" [(ngModel)]="bankrollItem.points"/>
  <app-item-enum></app-item-enum>
  <label for="comment">Комментарий</label>
  <input id="comment" [(ngModel)]="bankrollItem.comment"/>
  <button (click)="add()">Add</button>
</div>
